{extend name="base/base"}
{block name="css"}
    <link href="__HOME_STYLE__/css/book.css" rel="stylesheet">
{/block}
{block name="content"}
<article>
  <div class="container">
    <h2 class="ctitle"><b>ÁôÑÔ°å</b> <span>Äã£¬ÉúÃüÖÐ×îÖØÒªµÄ¹ý¿Í£¬Ö®ËùÒÔÊÇ¹ý¿Í£¬ÒòÎªÄãÎ´ÔøÎªÎÒÍ£Áô¡£</span></h2>
    <div class="gbook">
      <div class="about">
        <div id="fountainG">
          <li>世上只有两种编程语言</li>
          <li>世上只有两种编程语言</li>
          <li>世上只有两种编程语言</li>
          <li>世上只有两种编程语言</li>
          <li>世上只有两种编程语言</li>
          <li>世上只有两种编程语言</li>
          <li>世上只有两种编程语言</li>
          <li>世上只有两种编程语言</li>
        </div>
        <div class="about_girl"><span><a href="/"><img src="__HOME_STYLE__/images/girl.jpg"></a></span>
          <p>世上只有两种编程语言：一种是总是被人骂的，一种是从来没人用的</p>
        </div>
        <div class="about_girl"><span><a href="/"><img src="__HOME_STYLE__/images/girl.jpg"></a></span>
          <p>世上只有两种编程语言：一种是总是被人骂的，一种是从来没人用的</p>
        </div>
        <div class="about_girl"><span><a href="/"><img src="__HOME_STYLE__/images/girl.jpg"></a></span>
          <p>世上只有两种编程语言：一种是总是被人骂的，一种是从来没人用的</p>
        </div>
        <div class="about_girl"><span><a href="/"><img src="__HOME_STYLE__/images/girl.jpg"></a></span>
          <p>世上只有两种编程语言：一种是总是被人骂的，一种是从来没人用的</p>
        </div>
        <div class="about_girl"><span><a href="/"><img src="__HOME_STYLE__/images/girl.jpg"></a></span>
          <p>世上只有两种编程语言：一种是总是被人骂的，一种是从来没人用的</p>
        </div>
        <div class="about_girl"><span><a href="/"><img src="__HOME_STYLE__/images/girl.jpg"></a></span>
          <p>世上只有两种编程语言：一种是总是被人骂的，一种是从来没人用的</p>
        </div>
        <div class="about_girl"><span><a href="/"><img src="__HOME_STYLE__/images/girl.jpg"></a></span>
          <p>世上只有两种编程语言：一种是总是被人骂的，一种是从来没人用的</p>
        </div>
        <div class="about_girl"><span><a href="/"><img src="__HOME_STYLE__/images/girl.jpg"></a></span>
          <p>世上只有两种编程语言：一种是总是被人骂的，一种是从来没人用的</p>
        </div>
        <div class="about_girl"><span><a href="/"><img src="__HOME_STYLE__/images/girl.jpg"></a></span>
          <p>世上只有两种编程语言：一种是总是被人骂的，一种是从来没人用的</p>
        </div>
        <div class="about_girl"><span><a href="/"><img src="__HOME_STYLE__/images/girl.jpg"></a></span>
          <p>世上只有两种编程语言：一种是总是被人骂的，一种是从来没人用的</p>
        </div>
      </div>
    </div>
  </div>
  </aside>
</article>
{/block}