<header>
  <div class="logo" data-scroll-reveal="enter right over 1s"><a href="/"><h1>敦煌的驼铃</h1></a></div>
  <nav class="topnav" data-scroll-reveal="enter bottom over 1s after 1s">
    <a href="{:url('index/index')}">
    <span>首页</span><span class="en">Home</span>
    </a>
    <a href="{:url('blog/index')}?class_id=1">
    <span>博客</span><span class="en">Blog</span>
    </a>
    <a href="{:url('link/index')}?class_id=5">
    <span>链接</span><span class="en">Link</span>
    </a>
  </nav>
</header>