<!DOCTYPE html>
<html>
<head>
    <title>敦煌的驼铃</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="keywords" content="敦煌的驼铃" />
    <meta name="description" content="敦煌的驼铃" />
    <link href="__HOME_STYLE__/css/base.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__HOME_STYLE__/js/modernizr.js"></script>
    <![endif]-->
    {block name="css"}{/block}
    <script src="__HOME_STYLE__/js/scrollReveal.js"></script>
    {block name="js"}{/block}
</head>
<body>
    {block name="header"}
        {include file="public/header"}
    {/block}
    {block name="content"}{/block}
    {block name="footer"}
        {include file="public/footer"}
    {/block}
</body>
</html>