{extend name="base/base"}
{block name="content"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="#">系统</a>
                    </li>
                                        <li class="active">分类管理</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">

<button type="button" tooltip="添加用户" class="btn btn-sm btn-azure btn-addon" onClick=""> <i class="fa fa-plus"></i> <a href="{:url('assortment/add')}">添加分类</a>
</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-center">分类ID</th>
                                <th class="text-center">分类名称</th>
                                <th class="text-center">分类状态</th>
                                <th class="text-center">分类操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {volist name="$assortment_list" id="assortment"}
                            <tr>
                                <td align="center">{$assortment.class_id}</td>
                                <td>{$assortment.class_title}</td>
                                <td align="center">{$assortment.class_status}</td>
                                <td align="center">
                                    <a href="/admin/user/edit/id/8.html" class="btn btn-primary btn-sm shiny">
                                        <i class="fa fa-edit"></i> 编辑
                                    </a>
                                    <a href="#" onClick="warning('确实要删除吗', '/admin/user/del/id/8.html')" class="btn btn-danger btn-sm shiny">
                                        <i class="fa fa-trash-o"></i> 删除
                                    </a>
                                </td>
                            </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div>
                	                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>
	</div>
{/block}